<div id="books">
  <table>
    <tr>
      <th>Title</th>
      <th>Author</th>
    </tr>
    {{#each}}
      <tr>
        <td><a target="_blank" href="{{unbound url}}">{{title}}</a></td>
        <td>{{author}}</td>
      </tr>
    {{/each}}
  </table>
</div>